@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
}

.active{
    background-color: #87A2E8;
}
button {
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #87A2E8;
}
.nav-logo {
    max-width: 60%;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .flex-container > div {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: start;
    line-height: 20px;
    margin-top: 10px;
  }
  .rect {
    height: 400px;
    width: 30px;
    background-color: #E5E5E5;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
  }
  .bod {
      padding: 10px;
  }
  .div-1 {
    width: 224px;
    height: 64px;
    margin-bottom: 10px;
  }
  q{
      color: #147DDE;
      font-size: 18px;
      line-height: 0.7;
  }
  .hello {
      color: #a7adb3;
      margin-bottom: 10px;
  }
  .know {
    text-align: center;
    max-width: 60%;
    border-radius: 2px;
    box-shadow: 0 0 8px 0 rgba(27, 26, 26, 0.25);
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .space{
      letter-spacing: 2px;
  }
  h4 {
      margin-bottom: 10px;
  }
  .btn-k{
      background-color: #C4C4C4;
  }
.oval{
    position: relative;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 50%;
}
.oval img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 10px;
}

    footer{
        flex: 1;
        background-color: #D3E1F6;
        height: 90px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        padding-right: 20px;
        position: fixed;
        margin-top: 10vh;
        border-top-left-radius: 50px;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
        
    }
    footer ul li {
        list-style: none;
        font-size: 15px ;
        font-weight: bold;
    }

    h3 {
        font-family: 'Clicker Script', cursive;
    }
    .box-foot {
        width: 200px;
        border-left: 2px black solid;
        border-right: 2px black solid;
        text-align: center;
        margin-right: 100px;

    }
    .fot {
        margin-top: 5px;
    }
    .ico {
        color: #699BF7;
    }

/*responsive*/
@media only screen and (max-width: 768px) {
    .nav-menu,.cont{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    footer{
        background-color: #D3E1F6;
    }
    footer ul {
        background-color: #D3E1F6;
    }
    .box-foot {
        border-left: none;
        border-right: none;

    }
    .fot{
        color: rgb(236, 88, 19);
        margin-left: 300px;
    }
}
